<div class="row">
    <h2>private page</h2>
    <div class="private-content">
        <div class="private-single">
            <h4 class="private-left">_id: </h4>
            <p class="private-user-content">{{user._id}}</p>
        </div>
        <div class="private-single">
            <h4 class="private-left">username: </h4>
            <p class="private-user-content">{{user.username}}</p>
        </div>
        <div class="private-single">
            <h4 class="private-left">First Name: </h4>
            <p class="private-user-content">{{user.firstName}}</p>    
        </div>
        <div class="private-single">
            <h4 class="private-left">Last Name: </h4>
            <p class="private-user-content">{{user.lastName}}</p>
        </div>
        <div class="private-single">
            <h4 class="private-left">Profession: </h4>
            <p class="private-user-content">{{user.Profession}}</p>
        </div>
        <div class="private-single">
            <h4 class="private-left">Bio: </h4>
            <p class="private-user-content">{{user.Bio}}</p>
        </div>
    </div>
</div>
